body {
  margin: 0;
  font-family: 'roboto', sans-serif;
}

.hud-container {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.countdown {
  position: absolute;
  z-index: 99;
  text-align: center;
  display: table-cell; vertical-align: middle;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(22,22,22,0.2);
  font-size: 170px;
  display: none;
}

.hud {
  margin: 0 auto;
  width: 300px;
  color: #ccc;
  padding: 10px;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.hud .join-token {
  font-size: 45px;
  font-weight: lighter;
}

.hud h2 {
  margin: 0;
  font-weight: lighter;
}

.camera-preview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.camera-preview video {
  width: 100%;
}

#canvas {
  display: none;
}

.preview-container {
  position: absolute;
  z-index: 20;
  right: 0;
  top: 25%;
  height: 75%;
}

.preview-container img {
  height: 50%;
  margin-right: 15px;
}
