<div class="camera-preview">
  <video muted autoplay></video>
</div>

<div class="settings-container">
  <div class="settings">
    <div class="select">
      <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
  </div>
</div>

<div class="hud-container">
  <div class="hud">
    <div class="join-token">XXXX</div>
    <h2>https://phobooth.pics</h2>
  </div>
</div>

<div class="preview-container">
  <img id="photo">
</div>

<div class="countdown">
  <div style="position: absolute; top: 50%; width: 100%; display: table-cell; vertical-align: middle;">
    <div style="position: relative; top: -50%">
      3
    </div>
  </div>
</div>

<canvas id="canvas">
</canvas>
