<div class="title">PhoBooth</div>

<div class="state-1">
  <div class="join-token-container">
    <input class="join-token" placeholder="Token"></input>
    <div class="submit">SUBMIT</div>
  </div>
</div>

<div class="state-2">
  <div class="take-picture">Take<br>Picture</div>
  <div class="photostrip-preview">
    <img>
  </div>
</div>
