<div class="title">PhoBooth</div>

<div class="state-1">
  <div class="join-token-container">
    <input class="join-token" placeholder="Token"></input>
    <div class="submit">SUBMIT</div>
  </div>
</div>

<div class="state-2">
  <div class="take-picture">Take<br>Picture</div>
  <div class="photostrip-preview">
    <a href="" target="_blank">Open image in new tab</a>
    <img>
  </div>
</div>

<div class="footer">Created By <a href="http://zmattor.me/" target="_blank">Zack Mattor</a></div>
